
/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


$color-titols: #323747;
$color-titols2: #6d6f7a;
$color-text: #5b5e6c;
