/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* Extra small */

@media (max-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(216, 135, 135);
    /* debug */
  }
  body > nav {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    height: 9em;
    padding: 0 1em;
    background-color: white;
    border-bottom: 0.2em solid #ebeaeb;
  }

  nav {
    /*bloc de nav*/
    img {
      width: 12em;
      height: 7em;
      margin-top: 1em;
      margin-left: 0.5em;
      margin-right: 5em;
    }
    .fa-bars {
      display: flex;
      justify-items: flex-end;
      margin-top: 1em;
      font-size: 50px;
      color: #6d6d6d;
    }
    ul {
      visibility: hidden;
    }

    .fa-times {
      visibility: hidden;
    }
    /*
  ul {
      display: flex;
      flex-direction: column;
  }
*/
  }

  /*bloc de header*/
  header {
    display: flex;
    flex-flow: column;
    justify-items: center;
    width: 100vw;

    h1 {
      font-size: 50px;
      width: 10em;
      margin: 1em;
      font-weight: bold;
    }
    p {
      display: flex;
      width: 20em;
      font-size: 24px;
      margin-left: 2.2em;
      margin-bottom: 2em;
      line-height: 1.5em;
    }

   #using_slack_text{
     margin-top: 1em;
     font-weight:unset;
    color:#8F919A;
    font-size: 25px;
   }

    input {
      display: flex;
      align-items: center;
      width: 19.5em;
      height: 3.5em;
      margin-left: 2.3em;
      font-size: 23px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1em;
      margin-left: 2.1em;
      width: 18.7em;
      height: 3em;
      background-color: #4049AA;
      color: white;
      font-size: 25px;
      font-weight: 600;
      border-style: none;
      border-radius: 0.2em;
    }

  }
}
